<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
	</startup>
	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="DpiAwareness" value="PerMonitorV2" />
	</System.Windows.Forms.ApplicationConfigurationSection>
	<appSettings>
		<add key="host" value="smtp.mail.me.com"/>
		<add key="port" value="587"/>
		<add key="ssl" value="true"/>
		<add key="username" value="your-id@icloud.com"/>
		<add key="password" value="your-app-secret"/>
		<add key="to" value="other@gmail.com"/>
		<add key="subject" value="default subject"/>
	</appSettings>
</configuration>